# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Ignore a specific file
secret.txt

# Ignore all .env files (often used for environment variables)
*.env

# Ignore all files in a specific folder (e.g., a folder containing sensitive information)
/secrets/
